# Duplicate and rename this file to .env

# Django
SECRET_KEY=43)%4yx)aa@a=+_c(h&a-nkgf3gm2e3ax+=+a&key9i=!98zyim=8j

# Database
ENGINE=django.db.backends.postgresql
NAME=postgres
USER=postgres
HOST=db
PORT=5432
